<%= form_for(@m) do |f| %>
  
  <div id="to">
  
  	<%= f.label "Username" %><br>
    <%= f.text_field :to_name %>
  
  </div>
  
  <div id="subject">
  
    <%= f.label "Betreff" %><br>
    <%= f.text_field :betreff%>
  
  </div>
  
  <div id="mess_body">
  
    Nachricht<br>
    <%= f.text_area :body %>
  
  </div>
  
  <div id="actions">
  
    <%= f.submit "Senden" %>
  
  </div>
  
<% end %>
