<div id="messages">

  <h3>Nachricht von <%= (User.find @m.from_id).nick %></h3>
  
  <div id="subject">
  
    <b>Betreff:&nbsp;</b><%= @m.betreff %>
  
  </div>
  
  <div id="mess_body">
  
    <b>Nachricht</b><br>
    <% if @m.from_id < 3 %>
    	<%= simple_format(@m.body) %>
    <% else %>
    	<%= @m.body %>
    <% end %>
  
  </div>
  
  <div id="actions">
  
    <%= link_to "Antworten", "/messages/#{@m.id}/edit" %>
    &nbsp;|&nbsp;
    <%= link_to "Löschen", "/messages/#{@m.id}", :method => "delete" %>
  
  </div>

</div>
