<div id="ranking" >
	
	<h2>Ranking</h2>
	
	<div id="rank_body" >
	
		<table id="ranking_table" >
			<colgroup>
				<col width="25px"><!-- Rank -->
				<col><!-- Username -->
				<col><!-- Fisch -->
				<col><!-- EXP -->
				<col><!-- LVL -->
				<col><!-- Siege -->
				<col><!-- Quote -->
			</colgroup>
			<tr>
				<td>
					<b>#</b>
				</td>
				<th>
					Username
				</th>
				<th>
					Fisch
				</th>
				<th>
					<%= link_to "Erfahrung", "/rankings/rank/1" %>
				</th>
				<th>
					<%= link_to "Level", "/rankings/rank/2" %>
				</th>
				<th>
					Siege
					<%#= link_to "Siege", "/rankings/rank/3" %>
				</th>
				<th>
					Siegquote
				</th>
			</tr>
	<% unless @f.size == 0 %>
		<% unless @f.nil? %>
			<% i = 0 %>
			<% @f.each do |fish| %>
				<% user = (User.where :fish_id => fish.id).first %>
				<% unless user.nil? %>
				<% i += 1 %>
				<tr>
					<td>
						<%= i %>
					</td>
					<td>
						<%= user.nick %>
					</td>
					<td>
						<%= getRaceName(fish.race) %>
					</td>
					<td>
						<%= fish.exp %>
					</td>
					<td>
						<%= fish.lvl %>
					</td>
					<td>
						<%= user.win %>
					</td>
					<td>
						<%= getQ(user) %>
					</td>
				</tr>
				<% end %>
			<% end %>
		
		<% else %>

			<% i = 0 %>
			<% @u.each do |user| %>
			  <% unless user.fish_id.nil? %>
				<% fish = (Fish.find user.fish_id).first %>
				<% unless fish.nil? %>
					<% i += 1 %>
					<tr>
						<td>
							<%= i %>
						</td>
						<td>
							<%= user.nick %>
						</td>
						<td>
							<%= getRaceName(fish.race) %>
						</td>
						<td>
							<%= fish.exp %>
						</td>
						<td>
							<%= fish.lvl %>
						</td>
						<td>
							<%= user.win %>
						</td>
						<td>
							<%= getQ(user) %>
						</td>
					</tr>
				<% end %>
			  <% end %>
			<% end %>
		</table>
	</div>
		<% end %>
	<% end %>
		
</div>
